body {
    background-image: url(https://media2.giphy.com/media/eHdZZgmLheaqRT6kVX/giphy.gif);
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}

header {
    text-align: center;
}