body {
    background-image: url(https://images.axios.com/YvZD1YnsHoSN6nI48Vz8kWd39YQ=/0x0:1280x720/1920x1080/2019/10/07/1570480364679.gif);
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
}

header {
    text-align: center;
}