* {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 0 0 3px #333333;
    
}

body {
    height: 100%;
    width: 60%;
    background-color: black;
    margin: auto;
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    vertical-align :middle;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    font-size: 40px;
}

#pill {
    transition: 3s ease-in-out;
}

#pill:hover {
    transform: rotate(360deg);
}